{% extends "store/main.html" %}
{% load static %}
{% block content %}
<div class="row" id="token">
  {% for product in products %}
  <div class="col-lg-3">
    <img class="thumbnail" src="{{product.imageUrl}}" alt="Product">
    <div class="box-element product">
      <h6><strong>{{product.name}}</strong></h6>
      <hr>
      <div class="flex-container">
        <h6>Price:</h6>
        <h6>Rs.{{product.price|floatformat:2}}</h6>
      </div>
      <hr>
      <div class="flex-container">
        <button data-product={{product.id}} data-action="add" class="btn btn-outline-warning add-btn update-cart">Add To
          Cart</button>
        <a href="#" class="btn btn-outline-primary">View</a>
      </div>
    </div>
  </div>
  {% endfor %}
  {% comment %} {% csrf_token %} {% endcomment %}
</div>
{% endblock content %}